*{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    /*background: rgb(23, 28, 50);*/
    background-image: linear-gradient(120deg, #009072 0, #009081 3.33%, #009190 6.67%, #00909e 10%, #0090ac 13.33%, #008fb8 16.67%, #008ec4 20%, #008dce 23.33%, #008bd6 26.67%, #0088dd 30%, #0085e1 33.33%, #0081e4 36.67%, #007de4 40%, #0078e2 43.33%, #4b72de 46.67%, #6c6cd8 50%, #8465d0 53.33%, #985ec7 56.67%, #a957bc 60%, #b750b0 63.33%, #c249a2 66.67%, #ca4495 70%, #d14086 73.33%, #d53e78 76.67%, #d73e6a 80%, #d7405c 83.33%, #d5454e 86.67%, #d14b40 90%, #cb5133 93.33%, #c55826 96.67%, #bc5e18 100%);
    height: 100%;
    background-size: 300% 300%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/*info general*/
.info-general {
    float: block;
    text-align: center;
    margin: 13% 17%;
}
/*formato imagen*/
.image{
    float: left;
}

.image-user{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    align-items: right;
    margin: 5px 50px;
    transition: 0.7s;
}

.image-user:hover{
    transform: scale(1.2);
}
/*formato informacion user*/
.info-user{
    text-align: left;
}

.name-user{
    color: rgb(115, 156, 235);
    transition: 1s;
}

.name-user:hover{
    color: rgb(278, 123, 200);
}

.profesion-user{
    transition: 1.5s;
}

.profesion-user:hover{
    letter-spacing: 0.25em;
}

.info-user h1{
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.hr-separation{
    height: 2px;
    background: #fff;

}

.container-text{
    font-size: 1.5em;
    text-align: justify;
    transition: 1s;
}
.container-text:hover{
    letter-spacing: 0.03em;
}
/*botones animacion*/
.button-user-info{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

.button-user-info a{
    background: rgb(115, 156, 235);
    text-decoration: none;
    font-size: 1.2em;
    padding: 7px 1em;
    transition: 0.85s;
    font-weight: 600;
    border-radius: 10px;
}

a:hover{
    letter-spacing: 0.20em;
    background: rgb(278, 123, 200);
}
/*footer*/
.end-info{
    position: fixed;
    bottom: 0;
    right: 10px;
    left: 10px;
}

.footer-text-initial{
    float: left;
    text-align: left;
    padding-left: 1em;
}

.footer-text-final{
    float: right;
    text-align: right;
    padding-right: 1em;
}
.footer-email{
    transition: 1s;
}
.footer-email:hover{
    color: rgb(61, 125, 230);
}

.title-contact{
    text-align: center;
    font-size: 2.5em;
    transition: 1s;
}
.title-contact:hover{
    color: rgb(278, 123, 200);
    font-size: 3em;
}
.contact-form{
    float: center;
    /*background-color: rgb(50, 172, 197);*/
    background-color: transparent;
    padding: 7px 20px;
    margin: 5px 20%;
    border-radius: 40px;
}
.user-red-social{
    text-align: center;
    padding: 0.5em 5em 5em 1em;
    margin: 2em 20px 0 100px;
}

.user-red-social-icons {
    margin-left: 20px;
    margin-right: 10px;
    height: 50px;
    transition: 1s;
}
.user-red-social-icons:hover{
    height: 70px;
}
.red{
    transition: 1.5s;
}
.red:hover{
    background-color: transparent;
}
.red-social{
    display: inline;
}
.center{
    text-align: center;
}
div span{
    font-weight: bold;
}

div input{
    float: right;
    margin: 0 2em;
    background-color: transparent;
    border-radius: 5px;
}

::placeholder{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.info-user-complete{
    margin-top: 100px;
    text-align: left;
    margin-right: 100px;
    margin-bottom: 100px;
}
.name-user-complete{
    color: white;
    transition: 1s;
}
.name-user-complete:hover{
    color: rgb(278, 123, 200);
    font-size: 1.5em;
}

.end-info-complete{
    bottom: 0;
    right: 10px;
    left: 10px;
}

.article-user{
    text-align: center;
    margin: 5em  50px;
}
.user-red-social-icons-info {
    height: 100px;
    transition: 1s;
    margin: 10px 20px;
}

h5{
    font-size: 1em
}
.section-user{
    float: inline-start;
}